.pagination {
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  margin: 3rem 0;
  align-items: center;
}

.pagination__link {
  font-weight: 500;
  padding: 5px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background;
  transition-duration: 300ms;
}

.pagination__break {
  font-size: 20px;
  font-weight: 500;
}

.pagination__previous {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  transition-duration: 0.3s;
  display: grid;
  place-content: center;
}

.pagination__previous:hover {
  background-color: #ea580c;
}

.pagination__disabled {
  color: #c7c7c793;
  background-color: transparent;
}
.pagination__disabled:hover {
  background-color: transparent;
}

.pagination--active,
.pagination__link:hover {
  background: #ea580c;
}

@media (min-width: 640px) {
  .pagination {
    gap: 0.7rem;
  }
}
